.benefits {
  &__slider {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    @include media-laptop {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 22px 25px;
    }
    @include media-tablet {
      display: flex;
      gap: 0;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    align-content: start;
    gap: 10px;
    @include media-tablet {
      transition: opacity 0.3s 0.2s;
    }
    &:not(.swiper-slide-visible) {
      @include media-tablet {
        opacity: 0.5;
      }
    }
  }
  &__num {
    font-weight: 600;
    font-size: 40px;
    color: $green80;
  }
  &__name {
    font-weight: 600;
    font-size: 22px;
  }
  &__descr {
    grid-column: 1/-1;
    font-size: 16px;
    line-height: 1.37;
  }
  &__ui-swiper-bullets {
    display: none;
    @include media-tablet {
      display: block;
    }
  }
}
