extends ../../layout/layout

block variables
  -
    const pageName = 'main'
    const pageTitle = 'Main'

    const form = {
      title: 'Получите бесплатную консультацию по&nbsp;покупке сельскохозяйственной техники',
      subtitle: 'Оставьте свои контакты и&nbsp;наш специлист свяжется с&nbsp;вами в&nbsp;течении 15&nbsp;минут'
    }

    const about = 'На сегодняшний день наши производственные мощности возросли более чем в десять раз, территория производственных помещений достигла 4000 квадратных метров, а коллектив состоит только из профессионалов, обладающих немалым практическим опытом. При производстве сельхозтехники отдаем предпочтение современным технологиям и только качественным материалам и комплектующим. Такой подход к организации работы позволил нам стать одним из лидеров среди производителей почвообрабатывающей техники в России и самым крупным производителем в Южном Федеральном Округе, но мы и не думаем останавливаться на достигнутых результатах.<br>Конструкторское бюро, благодаря обратной связи с клиентами и поставщиками, ведет постоянную работу по усовершенствованию и оптимизации выпускаемой продукции, разработке новых образцов техники. С гордостью можем сказать, что выпускаемая нами техника поистине является «народной», так как в ней отражены все замечания и пожелания аграриев, направленные на повышение качества почвообработки и удобства эксплуатации.<br>Россия испокон веков была аграрной державой, и цель нашего коллектива – помочь Ей достичь абсолютного мирового лидерства в сельском хозяйстве!'
    const aboutText = 'Краткое описание компании, история и тп. 18 июня в экспериментальном цехе завершена сборка первого образца колесного трактора заводской конструкции. Главный конструктор Минского тракторного завода Иван Иосифович Дронг предложил присвоить новой машине благородное и величественное имя «Беларусь», с которым она начала свой путь на планете Земля.'

block content
  main
    +section
      +banner
    +section('--ov-h')
      .inner
        +ui-h2('Производители', 'section')
        +companies
    +section('--ov-h')
      .inner
        +ui-h2('Каталог продукции', 'section')
        +products('--mob-slider', 'mob-slider')
    +section('--bg')
      .inner
        +form(form)
    +section
      .inner
        +ui-h2('О компании', 'section')
        +info('--short')
    +section('--ov-h')
      .inner
        +ui-h2('Наши преимущества', 'section')
        +benefits
    +section('--ov-h')
      .inner
        +ui-h2('Новости компании', 'section')
        +news-slider
