extends ../../layout/layout

block variables
  -
    const pageName = 'contacts'
    const pageTitle = 'Контакты'

    const form = {
      title: 'Получите бесплатную консультацию по&nbsp;покупке сельскохозяйственной техники',
      subtitle: 'Оставьте свои контакты и&nbsp;наш специлист свяжется с&nbsp;вами в&nbsp;течении 15&nbsp;минут'
    }

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item(pageTitle)
    +section('--mt0, --pd-y80')
      +contacts
    +section('--mt0')
      .inner
        +form(form)
