.policy {
  font-size: 16px;
  line-height: 1.6;
  br {
    content: '';
    display: block;
    margin-top: 10px;
  }
  h1 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    @include media-tablet {
      font-size: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
      @include media-laptop {
        margin-bottom: 20px;
      }
    }
  }
  a {
    color: $green;
    text-decoration: underline;
  }
}
