mixin catalog-list(mods)
  -
    const baseName = 'catalog-list'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const cardData = {
      title: 'Малогабаритный посевной комплекс «Кузбасс»',
      descr: 'Компактный трактор для сада серии Classic 295. Компактный трактор для сада серии Classic 295. Компактный трактор для сада серии Classic 295. Компактный трактор для сада серии Classic 295',
      button: 'Подробнее'
    }

  .catalog-list(class=allMods)&attributes(attributes)
    -for(let i=0; i<9; i++)
      +card(cardData, '--bg')
    block
