mixin info(mods)
  -
    const baseName = 'info'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  if pageName === 'about'
    .info(class=allMods)&attributes(attributes)
      .info__text На сегодняшний день наши производственные мощности возросли более чем в десять раз, территория производственных помещений достигла 4000 квадратных метров, а коллектив состоит только из профессионалов, обладающих немалым практическим опытом. При производстве сельхозтехники отдаем предпочтение современным технологиям и только качественным материалам и комплектующим. Такой подход к организации работы позволил нам стать одним из лидеров среди производителей почвообрабатывающей техники в России и самым крупным производителем в Южном Федеральном Округе, но мы и не думаем останавливаться на достигнутых результатах. <br>Конструкторское бюро, благодаря обратной связи с клиентами и поставщиками, ведет постоянную работу по усовершенствованию и оптимизации выпускаемой продукции, разработке новых образцов техники. С гордостью можем сказать, что выпускаемая нами техника поистине является «народной», так как в ней отражены все замечания и пожелания аграриев, направленные на повышение качества почвообработки и удобства эксплуатации. <br>Россия испокон веков была аграрной державой, и цель нашего коллектива – помочь Ей достичь абсолютного мирового лидерства в сельском хозяйстве!
      .info__slider
        .swiper-wrapper.info__swiper-wrapper
          .info__img.swiper-slide: img(src='../../images/about.jpg' alt='')
        +ui-swiper-buttons('info')
  else if pageName === 'main'
    .info(class=allMods)&attributes(attributes)
      .info__text Краткое описание компании, история и тп. 18 июня в экспериментальном цехе завершена сборка первого образца колесного трактора заводской конструкции. Главный конструктор Минского тракторного завода Иван Иосифович Дронг предложил присвоить новой машине благородное и величественное имя «Беларусь», с которым она начала свой путь на планете Земля.
      .info__slider
        .swiper-wrapper.info__swiper-wrapper
          .info__img.swiper-slide: img(src='../../images/about.jpg' alt='')
        +ui-swiper-buttons('info')
  else
    .info(class=allMods)&attributes(attributes)
      .info__text Мы представляем поддержку во всем комплексе послепродажного обслуживания в соответствии с самыми высокими стандартами качества. Оригинальные запасные части и смазочные материалы, предлагаемые  применяемые в процессе обслуживания, производятся с использованием передовых технологий и с учетом специфики эксплуатации техники и оборудования. Такой подход в поддержке клиентов является для нас первоочередным приоритетом. <br> Качественный подход к планированию складских запасов и отлаженная цепочка поставок обеспечивают устранение большинства поломок в течение нескольких дней. Те запасные части, которых нет в наличии на складе (обычно это запчасти, вероятность выхода из строя которых крайне мала), мы поставляем с центральных складов заводов изготовителей. Там уровень обслуживания из запасов склада самый лучший в индустрии — 98-99 %. Таким образом, даже если запчастей не хватает, всегда есть возможность их оперативно привезти.
      .info__slider
        .swiper-wrapper.info__swiper-wrapper
          -for(let i=0; i<3; i++)
            .info__img.swiper-slide: img(src='../../images/product-1.png' alt='')
        +ui-swiper-buttons('info')
    br
    br
    br
    .info(class=allMods)&attributes(attributes)
      .info__text Мы представляем поддержку во всем комплексе послепродажного обслуживания в соответствии с самыми высокими стандартами качества. Оригинальные запасные части и смазочные материалы, предлагаемые  применяемые в процессе обслуживания, производятся с использованием передовых технологий и с учетом специфики эксплуатации техники и оборудования. Такой подход в поддержке клиентов является для нас первоочередным приоритетом. <br> Качественный подход к планированию складских запасов и отлаженная цепочка поставок обеспечивают устранение большинства поломок в течение нескольких дней. Те запасные части, которых нет в наличии на складе (обычно это запчасти, вероятность выхода из строя которых крайне мала), мы поставляем с центральных складов заводов изготовителей. Там уровень обслуживания из запасов склада самый лучший в индустрии — 98-99 %. Таким образом, даже если запчастей не хватает, всегда есть возможность их оперативно привезти.
      .info__slider
        .swiper-wrapper.info__swiper-wrapper
          .info__img.swiper-slide: img(src='../../images/product-1.png' alt='')
        +ui-swiper-buttons('info')
    block
