.info {
  display: flex;
  gap: 20px;
  @include media-laptop {
    flex-direction: column-reverse;
  }
  &__slider {
    position: relative;
    width: 630px;
    height: 400px;
    flex-shrink: 0;
    overflow: hidden;
    @include media-laptop {
      width: 100%;
      height: auto;
      padding-bottom: 58%;
    }
  }
  &__swiper-wrapper {
    @include media-laptop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__ui-swiper-buttons {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 22px;
    justify-content: space-between;
    pointer-events: none;
    @include media-tablet {
      padding: 0 10px;
    }
    .swiper-button-prev,
    .swiper-button-next {
      pointer-events: all;
    }
  }
  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.6;
  }
  &--short {
    flex-direction: row-reverse;
    gap: 40px;
    max-width: 1040px;
    margin: 0 auto;
    @include media-laptop {
      gap: 20px;
    }
    @include media-tablet {
      flex-direction: column-reverse;
    }
    .info {
      &__slider {
        width: 520px;
        height: 330px;
        @include media-laptop {
          width: 360px;
          height: auto;
          padding-bottom: 31%;
        }
        @include media-tablet {
          width: 100%;
          padding-bottom: 63%;
        }
      }
      &__text {
        line-height: 1.3;
      }
    }
  }
}
