extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    .inner
      +ui-h2(pageTitle)
      br
      br
      br
      a(href='main.html') Main
      br
      br
      a(href='products-by-purpose.html') Каталог продукции по назначению
      br
      br
      a(href='products-by-manufacturer.html') Каталог продукции по производителю
      br
      br
      a(href='catalog.html') Каталог с фильтром
      br
      br
      a(href='product.html') Карточка продукта
      br
      br
      a(href='info.html') Запчасти / Сервис и услуги
      br
      br
      a(href='about.html') О компании
      br
      br
      a(href='contacts.html') Контакты
      br
      br
      a(href='news.html') Новости
      br
      br
      a(href='news-inner.html') Новость внутренняя
      br
      br
      a(href='404.html') 404
      br
      br
      a(href='policy.html') Политика
