.footer {
  flex: 0 1;
  padding: 30px 0 40px;
  background: $grey;
  border-top: 1px solid $grey;
  box-shadow: 2px 2px 10px 0 rgb(49 55 78 / 0.10);
  &__inner {
    display: flex;
    gap: 150px;
    @include media-laptop {
      gap: 60px;
    }
    @include media-tablet {
      flex-direction: column;
      gap: 30px;
      align-items: center;
      text-align: center;
    }
  }
  &__logo {
    width: 47px;
    height: 56px;
    flex-shrink: 0;
  }
  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 45px;
    align-content: flex-start;
    @include media-laptop {
      grid-template-columns: 1fr;
    }
    @include media-tablet {
      gap: 14px;
    }
  }
  &__link {
    font-size: 16px;
    @include media-tablet {
      font-size: 14px;
    }
  }
  &__contacts {
    margin-left: auto;
    font-size: 16px;
    text-align: right;
    @include media-laptop {
      max-width: 200px;
    }
    @include media-tablet {
      max-width: unset;
      margin-left: 0;
      font-size: 14px;
      text-align: center;
    }
  }
  &__tel {
    white-space: nowrap;
    font-weight: 700;
  }
  &__contact {
    p {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
