mixin news-inner(mods)
  -
    const baseName = 'news-inner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const cardData = {
      title: 'Заголовок новости',
      descr: 'Компактный трактор для сада серии Classic 295. Компактный трактор для сада серии Classic 295. Компактный трактор для сада серии Classic 295. Компактный трактор для сада серии Classic 295',
      button: 'Читать'
    }

  .news-inner(class=allMods)&attributes(attributes)
    .news-inner__body
      .news-inner__content
        h1 Заголовок новости
        p Не пропустите самое масштабное событие в аграрной сфере донского региона! <br> Приглашаем посетить наш стенд на Агропромышленной выставке Юга России «Интерагромаш», которая пройдет с 1 по 3 марта 2023 года в Ростове-на-Дону. <br> На выставке вас ждут:
        ul
          li 23 000 кв.м. экспозиции
          li 180 образцов новейшей сельхозтехники
          li 130 брендов агрохимической продукции
          li Более 35 деловых мероприятий для специалистов в рамках Аграрного конгресса
          li 50 делегаций фермеров из районов Ростовской области, Краснодарского и Ставропольского краев
        img(src='../../images/about.jpg' alt='')
        p Не пропустите самое масштабное событие в аграрной сфере донского региона! <br> Приглашаем посетить наш стенд на Агропромышленной выставке Юга России «Интерагромаш», которая пройдет с 1 по 3 марта 2023 года в Ростове-на-Дону. <br> На выставке вас ждут:
        ul
          li 23 000 кв.м. экспозиции
          li 180 образцов новейшей сельхозтехники
          li 130 брендов агрохимической продукции
          li Более 35 деловых мероприятий для специалистов в рамках Аграрного конгресса
          li 50 делегаций фермеров из районов Ростовской области, Краснодарского и Ставропольского краев
      .news-inner__nav
        a.news-inner__prev(href='#') Предыдущая новость
        a.news-inner__next(href='#') Следующая новость
    .news-inner__another
      .news-inner__subtitle Другие новости
      .news-inner__another-wrapper.swiper-wrapper
        -for(let i=0; i<3; i++)
          +card(cardData, 'news-inner').swiper-slide
    block
