.tabs-head {
  position: relative;
  scrollbar-width: none;
  @include media-tablet {
    margin: 0 -20px;
    padding-bottom: 2px;
    overflow-x: auto;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    width: max-content;
    min-width: 100%;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    gap: 110px;
    @include media-laptop {
      gap: 40px;
    }
    @include media-tablet {
      margin: 0 20px;
    }
  }
  &__item {
    position: relative;
    z-index: 1;
    margin-bottom: -2px;
    padding-bottom: 18px;
    border-bottom: 4px solid transparent;
    font-weight: 600;
    font-size: 20px;
    color: #939393;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $black;
    }
    &--active {
      color: $black;
      border-bottom-color: $green;
    }
  }
}
.tabs-body {
  margin-top: 40px;
  @include media-laptop {
    margin-top: 20px;
  }
  &__item {
    display: none;
    animation: fade-in 0.3s;
    &--active {
      display: block;
    }
  }
}
