// fonts
$font: 'Inter', 'Arial', sans-serif;

// colors
$black: #272626;
$green: #009245;
$green80: #8AC700;
$gradient: linear-gradient(179deg, $green80 0%, $green 100%);
$grey: #F5F5F5;
$red: #E6292F;

// media
$mediaWidthLaptop: 1360px;
$mediaWidthTablet: 743px;
$mediaWidthMobile: 320px;
