extends ../../layout/layout

block variables
  -
    const pageName = 'news'
    const pageTitle = 'Новости'

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item(pageTitle)
    +section('--mt0, --pd-y80')
      .inner
        +ui-h2('Новости', 'section')
        +news
