.contacts {
  font-size: 16px;
  &__section {
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 18% 1fr 15%;
    align-items: start;
    justify-items: start;
    gap: 50px;
    @include media-laptop {
      grid-template-columns: 24.5% 1fr 20.5%;
      gap: 20px;
    }
    @include media-tablet {
      grid-template-columns: minmax(0, 1fr);
      gap: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 25px;
      @include media-laptop {
        margin-bottom: 30px;
      }
      @include media-tablet {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $grey;
      }
    }
  }
  &__item {
    display: flex;
    gap: 10px;
    @include media-laptop {
      gap: 8px;
    }
    @include media-tablet {
      gap: 10px;
    }
    &::before {
      content: '';
      width: 16px;
      height: 16px;
      margin-top: 2px;
      flex-shrink: 0;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &--tel {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.03566 0.53334H2.66849C1.49028 0.53334 0.535156 1.48847 0.535156 2.66667V4.80001C0.535156 10.691 5.31079 15.4667 11.2018 15.4667H13.3352C14.5134 15.4667 15.4685 14.5115 15.4685 13.3333V11.8592C15.4685 11.4552 15.2402 11.0859 14.8789 10.9052L12.3019 9.61669C11.7213 9.3264 11.0182 9.61763 10.8129 10.2334L10.4953 11.1863C10.2895 11.8035 9.65641 12.1709 9.01845 12.0433C6.46507 11.5327 4.46917 9.53676 3.9585 6.98338C3.83091 6.34542 4.19833 5.71228 4.81554 5.50655L5.99808 5.11237C6.52685 4.93611 6.83077 4.38246 6.69559 3.84173L6.07048 1.3413C5.95177 0.866458 5.52512 0.53334 5.03566 0.53334Z' stroke='%23009245'/%3E%3C/svg%3E%0A");
      }
    }
    &--address {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00156 9.06111C9.17916 9.06111 10.1349 8.10597 10.1349 6.92914C10.1349 5.75231 9.17916 4.79721 8.00156 4.79721C6.82396 4.79721 5.86823 5.75231 5.86823 6.92914C5.86823 8.10597 6.82396 9.06111 8.00156 9.06111Z' stroke='%23009245' stroke-linecap='square'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.4016 6.92914C14.4016 12.259 9.06823 15.4569 8.00156 15.4569C6.9349 15.4569 1.60156 12.259 1.60156 6.92914C1.60156 3.39758 4.4677 0.53334 8.00156 0.53334C11.5354 0.53334 14.4016 3.39758 14.4016 6.92914Z' stroke='%23009245' stroke-linecap='square'/%3E%3C/svg%3E%0A");
      }
    }
    &--mail {
      text-decoration: underline;
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.535156 4.80001L8.00182 9.06667L15.4685 4.80001M1.60182 1.60001H14.4018C14.9909 1.60001 15.4685 2.07757 15.4685 2.66667V13.3333C15.4685 13.9224 14.9909 14.4 14.4018 14.4H1.60182C1.01272 14.4 0.535156 13.9224 0.535156 13.3333V2.66667C0.535156 2.07757 1.01272 1.60001 1.60182 1.60001Z' stroke='%23009245'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &__map {
    margin-top: 40px;
    @include media-laptop {
      margin-top: 30px;
    }
  }
}
