mixin products(mods, type, withButtons)
  -
    const baseName = 'products'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .products(class=allMods)&attributes(attributes)
    if withButtons
      .products__buttons
        if pageName === 'products-by-manufacturer'
          +ui-button('По назначению', '--grey, --m-pd-x-small')(href='products-by-purpose.html')
          +ui-button('По производителю', '--m-pd-x-small')(href='products-by-manufacturer.html')
        else
          +ui-button('По назначению', '--m-pd-x-small')(href='products-by-purpose.html')
          +ui-button('По производителю', '--grey, --m-pd-x-small')(href='products-by-manufacturer.html')
    case type
      when 'mob-slider'
        .swiper-wrapper.products__wrapper
          -for(let i=0; i<4; i++)
            a.products__item.swiper-slide(href='#')
              .products__img: img(src='../../images/products-1.png' alt='')
              .products__name Почвообрабатывающая техника
            a.products__item.swiper-slide(href='#')
              .products__img: img(src='../../images/products-2.png' alt='')
              .products__name Комбайны
        +ui-swiper-bullets('products')
      default
        .products__wrapper
          -for(let i=0; i<4; i++)
            if pageName === 'products-by-manufacturer'
              a.products__item.products__item--brand(href='#')
                .products__img: img(src='../../images/products-3.png' alt='')
                .products__name АО Агросиблизинг
              a.products__item.products__item--brand(href='#')
                .products__img: img(src='../../images/products-4.png' alt='')
                .products__name Радогост-Маш
            else
              a.products__item(href='#')
                .products__img: img(src='../../images/products-1.png' alt='')
                .products__name Почвообрабатывающая техника
              a.products__item(href='#')
                .products__img: img(src='../../images/products-2.png' alt='')
                .products__name Комбайны
    block

