.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid $grey;
  background: #fff;
  &__inner {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    @include media-laptop {
      gap: 40px;
    }
    @include media-tablet {
      gap: 23px;
      justify-content: flex-start;
    }
  }
  &__logo {
    width: 47px;
    height: 56px;
    flex-shrink: 0;
    @include media-laptop {
      width: 35px;
      height: 41px;
    }
    @include media-tablet {
      position: relative;
      width: 32px;
      height: 53px;
      padding: 8px 0;
      margin-right: 23px;
    }
    &::before {
      position: absolute;
      top: 0;
      right: -23px;
      width: 1px;
      height: 100%;
      background: $grey;
      @include media-tablet {
        content: '';
      }
    }
  }
  &__burger {
    display: flex;
    align-items: center;
    gap: 28px;
    @include media-laptop {
      justify-content: flex-end;
      flex-grow: 1;
      border-left: 1px solid $grey;
      padding: 20px 0 21px 10px;
    }
    @include media-tablet {
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      width: 100%;
      height: calc(100vh - 100% - 1px);
      padding: 20px 20px 30px;
      flex-direction: column;
      justify-content: unset;
      background: #fff;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
    }
    &-open {
      display: none;
      padding-right: 40px;
      border-right: 1px solid $grey;
      @include media-laptop {
        display: flex;
        align-items: center;
        align-self: stretch;
      }
      @include media-tablet {
        padding-right: 23px;
      }
    }
    &-button {
      width: 21px;
      height: 26px;
      margin: 0 -3px;
      padding: 6px 3px;
      background: none;
      border: 0;
      cursor: pointer;
      span {
        display: block;
        height: 2px;
        transform-origin: center;
        background-color: currentcolor;
        transition: 0.3s;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
      &.active {
        span {
          &:first-child {
            margin-top: 3px;
            transform: rotate(45deg);
            margin-bottom: -2px;
          }
          &:nth-child(2) {
            display: none;
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 32px;
    border: solid $grey;
    border-width: 0 1px;
    @include media-laptop {
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      display: grid;
      align-content: start;
      gap: 20px;
      width: 100%;
      height: calc(100vh - 100% - 1px);
      padding: 35px 40px;
      background: #fff;
      border: 0;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
      overflow-y: auto;
    }
    @include media-tablet {
      position: static;
      height: auto;
      padding: 0;
      background: transparent;
      visibility: unset;
      opacity: 1;
    }
  }
  &__link {
    font-size: 16px;
    &:hover {
      font-weight: 700;
    }
  }
  &__item {
    > .header__link {
      display: block;
      padding: 30px 0;
      @include media-laptop {
        padding: 0;
        opacity: 0.5;
      }
      &:hover {
        font-weight: 700;
        color: $green;
        opacity: 1;
      }
      &.active {
        font-weight: 700;
        color: $green;
        opacity: 1;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        .header {
          &__dropdown {
            visibility: visible;
            opacity: 1;
            @include media-laptop {
              visibility: hidden;
              opacity: 0;
            }
          }
        }
        > .header__link {
          font-weight: 700;
          color: $green;
        }
      }
    }
    &.active {
      @include media-laptop {
        .header__dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__nav {
    display: none;
    align-items: center;
    gap: 10px;
    margin: 0 -35px 30px;
    padding: 20px 20px 20px 35px;
    background: rgb(138 199 0 / 0.10);
    @include media-laptop {
      display: flex;
    }
    @include media-tablet {
      margin: 0 -20px 20px;
      padding-left: 20px;
    }
    &-back {
      width: 15px;
      height: 15px;
      padding: 0;
      border: 0;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15L3 8.5L10 2' stroke='%23009245' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      &--cross {
        width: 20px;
        height: 20px;
        margin-left: auto;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L18 18M2 18L18 2' stroke='%23009245' stroke-width='2'/%3E%3C/svg%3E%0A");
      }
    }
    &-title {
      font-weight: 700;
      font-size: 16px;
      color: $green;
    }
  }
  &__dropdown {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    max-height: calc(100vh - 100% - 1px);
    height: var(--header-dropdown-height, 50vh);
    display: flex;
    flex-direction: column;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    @include media-laptop {
      top: 0;
      z-index: 1;
      max-height: unset;
      height: 100%;
    }
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: calc(100vh - var(--header-dropdown-height, 50vh) - var(--header-height, 80px) );
      background: rgb(0 0 0 / 0.5);
      pointer-events: none;
      @include media-laptop {
        content: none;
      }
    }
    > .inner {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      @include media-laptop {
        padding: 0 35px;
      }
      @include media-tablet {
        padding: 0 20px;
      }
    }
  }
  &__submenu {
    position: relative;
    flex-grow: 1;
    @include media-laptop {
      position: unset;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 255px;
      width: 1px;
      background: $grey;
      @include media-laptop {
        content: none;
      }
    }
  }
  &__subitem {
    width: 255px;
    @include media-laptop {
      width: unset;
    }
    @media (any-hover: hover) {
      &:hover {
        .header__list {
          visibility: visible;
          opacity: 1;
          @include media-laptop {
            visibility: hidden;
            opacity: 0;
          }
        }
        > .header__link {
          font-weight: 700;
          color: $green;
          background: rgba(138 199 0 / 0.10);
          opacity: 1;
          @include media-laptop {
            background: transparent;
          }
          &::before {
            background: rgba(138 199 0 / 0.10);
          }
        }
      }
    }
    > .header__link {
      position: relative;
      display: block;
      padding: 18px 34px 19px 0;
      opacity: 0.5;
      @include media-laptop {
        padding: 0;
      }
      &:not(:last-child) {
        @include media-laptop {
          margin-bottom: 20px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc((100vw - 1260px) / -2);
        width: calc((100vw - 1260px) / 2);
        transition: inherit;
        @include media-laptop {
          content: none;
        }
      }
      &:hover {
        font-weight: 700;
        color: $green;
        background: rgba(138 199 0 / 0.10);
        opacity: 1;
        @include media-laptop {
          background: transparent;
        }
        &::before {
          background: rgba(138 199 0 / 0.10);
        }
      }
    }
    &.active {
      @include media-laptop {
        .header__list {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__list {
    position: absolute;
    top: 0;
    left: 255px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 130px;
    align-content: start;
    width: calc(100% - 255px);
    padding: 28px 290px 58px 48px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    overflow-y: auto;
    @include media-laptop {
      left: 0;
      z-index: 1;
      gap: 20px 130px;
      width: 100%;
      height: 100%;
      padding: 0 35px 20px;
      background: #fff;
    }
    @include media-tablet {
      grid-template-columns: minmax(0, 1fr);
      padding: 0 20px 20px;
    }
    &-item {
      > .header__link {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
    > .header__nav {
      grid-column: 1/-1;
      margin-bottom: 10px;
    }
  }
  &__tel {
    font-weight: 700;
    font-size: 16px;
    @include media-tablet {
      align-self: stretch;
      margin: auto -20px 0;
      padding: 30px 30px 0;
      border-top: 1px solid $grey;
      text-align: center;
    }
  }
  &__ui-button {
    @include media-tablet {
      margin-left: auto;
    }
  }
  &--burger {
    .header {
      &__burger {
        @include media-tablet {
          visibility: visible;
          opacity: 1;
        }
        &-button {
          span {
            &:first-child {
              margin-top: 3px;
              transform: rotate(45deg);
              margin-bottom: -2px;
            }
            &:nth-child(2) {
              display: none;
            }
            &:last-child {
              transform: rotate(-45deg);
            }
          }
        }
      }
      &__menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
