.product {
  &__main {
    display: flex;
    gap: 20px;
    @include media-laptop {
      flex-direction: column;
    }
  }
  &__gallery {
    width: 630px;
    overflow: hidden;
    flex-shrink: 0;
    @include media-laptop {
      width: 320px;
    }
    @include media-tablet {
      width: unset;
      margin: 0 -20px;
    }
  }
  &__slider {
    position: relative;
    height: 400px;
    @include media-laptop {
      height: 200px;
    }
    @include media-tablet {
      position: relative;
      height: auto;
      padding-bottom: 64%;
    }
    &:hover {
      .product {
        &__btn {
          opacity: 1;
        }
      }
    }
    .product {
      &__slide {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__btn {
        position: absolute;
        top: 50%;
        z-index: 5;
        width: 40px;
        height: 50px;
        background: rgb(0 0 0 / 0.15);
        transition: 0.3s;
        cursor: pointer;
        transform: translateY(-50%);
        opacity: 0;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 15px;
          height: 15px;
          border-bottom: 4px solid $grey;
          border-right: 4px solid $grey;
        }
        &--prev {
          left: 0;
          &::before {
            transform: translate(-50%, -50%) rotate(135deg);
          }
        }
        &--next {
          right: 0;
          &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
        &.swiper-button-disabled {
          opacity: 0;
        }
      }
    }
    .swiper-wrapper {
      @include media-tablet {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &__thumbs {
    position: relative;
    margin-top: 10px;
    height: 70px;
    @include media-laptop {
      margin-top: 5px;
      height: 35px;
    }
    .product {
      &__slide {
        height: 100%;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__btn {
        position: absolute;
        top: 0;
        z-index: 5;
        width: 20px;
        height: 100%;
        transition: 0.3s;
        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          width: 10px;
          height: 10px;
          border-bottom: 3px solid #d9d9d9;
          border-right: 3px solid #d9d9d9;
        }
        &--prev {
          left: 0;
          background: linear-gradient(to left, rgb(255 255 255 / 0) 0%, rgb(255 255 255 / 0.7) 100%);
          &::before {
            left: 10px;
            transform: translateY(-50%) rotate(135deg);
          }
        }
        &--next {
          right: 0;
          background: linear-gradient(to left, rgb(255 255 255 / 0.7) 0%, rgb(255 255 255 / 0) 100%);
          &::before {
            right: 10px;
            transform: translateY(-50%) rotate(-45deg);
          }
        }
        &.swiper-button-disabled {
          opacity: 0;
        }
      }
    }
  }
  &__detail {
    font-size: 16px;
    line-height: 1.4;
    p,
    ul {
      margin-bottom: 15px;
    }
    ul {
      @extend .ui-ul;
    }
  }
  &__tabs {
    margin-top: 40px;
    @include media-laptop {
      margin-top: 60px;
    }
    @include media-tablet {
      margin-top: 30px;
    }
  }
  &__ui-button {
    &:not(:first-child) {
      margin-top: 30px;
      @include media-laptop {
        margin-top: 15px;
      }
      @include media-tablet {
        width: 100%;
      }
    }
  }
}
.product-descr {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(39 38 38 / 0.50)
}
.product-table {
  display: grid;
  align-content: start;
  gap: 30px;
  max-width: 800px;
  font-size: 16px;
  @include media-tablet {
    gap: 20px;
  }
  &__tr {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 20px;
    @include media-tablet {
      grid-template-columns: 200px 1fr;
      gap: 10px;
    }
  }
  &__td {
    &:first-child {
      opacity: 0.25;
    }
  }
}
